/.gradle/
/.idea/
/allure-results/
/allure-report/
/playwright-report/
/build/
/test-output/screenshots/
/test-output/videos/
/visual-comparsion/current-screenshots/
/visual-comparsion/result-screenshots/